@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #4b4a4a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #140c0c;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("/bg-bottom.svg"), url("/bg-top.svg");
  background-position: 0 110%, 100% 0%;
  background-repeat: no-repeat;
  background-size: 280px 300px, 380px 530px;
  background-color: hsl(240, 78%, 98%);
  
}
